SocksPort 0.0.0.0:9050
SocksPolicy accept 0.0.0.0
ControlPort 0.0.0.0:9051

### per creare l'hash della password usare: tor --hash-password <secret>
HashedControlPassword

### HIDDEN SERVICES

## Bitcoin Core P2P Hidden Service
HiddenServiceDir /var/lib/tor/app-bitcoin-p2p
HiddenServicePort 8333 10.0.1.2:8334
